
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Cabin";
}

#main-body {
    height: 100vh;
    background: whitesmoke;
}

// Sidebar

#sidebar {
    .navigation:hover, .navigation.active {
        width: 300px;
    }
    .navigation {
        @include box-size(60px, 100%);
        position: fixed;
        background-color: $color-main;
        transition: 0.5s;
        overflow:hidden;
        z-index: 60;

        ul {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            color: rgb(54, 54, 54); 

            li {
                position: relative;
                width: 100%;
                list-style:none;
                
                a {
                    position: relative;
                    display: block;
                    width: 100%;
                    display:flex;
                    text-decoration: none;
                    color: rgb(54, 54, 54);
                    color:rgb(255, 251, 251);
                    
                    .title {
                        position:relative;
                        display: block;
                        padding: 0 10px;
                        height: 60px;
                        line-height: 60px;
                        text-align: center;
                        white-space: nowrap;
                    }

                    .icon {
                        position:relative;
                        display: block;
                        min-width: 60px;
                        height: 60px;
                        line-height: 60px;
                        text-align: center;

                        .fa{
                            font-size: 24px;
                        }
                    }
                }
            }
            li:hover {
                background-color: rgb(181, 233, 220);
            }
        }
    }
}


// Content

#content {
    .content {
        left: 0;
        height: 0;
        margin: 10px 10px 10px 70px;
        position: absolute;
        h3{
            margin-top:20px;
            margin-left: 10px;
            font-size: bold;
        }
        #carousel-news {
            img {
                border-radius:20px;
            }
        }

        .work {
            @include grid-group(grid, 1fr 1fr);

            .box {
                background-color: rgb(238, 233, 227);
                padding:30px 10px 30px 10px;
                border-left:8px solid rgb(66, 66, 66);
                border-radius: 8px;
                box-shadow: 2px 3px 5px rgba(0,0,0,.4);
            }
            .box:hover {
                cursor:pointer;
                background-color: rgb(223, 215, 215);
            }
        }

        .list-class {
            ul.img-class {
                width:90%;
                margin:30px auto;
                list-style: none;
                @include grid-group(grid, repeat(auto-fit, minmax(250px, 1fr)));
                .box-class {
                    border-radius:20px;
                    background-color:white;
                    box-shadow: 3px 3px 3px rgba(0,0,0,.5);
                    .card-img {
                        
                        background-color: rgb(186, 243, 243);
                        border-top-left-radius:20px;
                        border-top-right-radius:20px;
                        img {
                            width:100%;
                            display:block;
                            padding:50px;
                        }
                    }
                    button {
                        padding:10px 20px 10px 20px;
                        border-bottom-right-radius: 20px;
                        border-bottom-left-radius: 20px;
                        border:none;
                        width:100%;
                        background-color: $color-main;
                    }
                    button:hover {
                        background-color: rgb(108, 147, 255);
                    }
                    
                }
            }
            
        }

        .teacher {
            .col-md-5 {
                img {
                    border-radius:10px;
                }
            }
        }
    }
}

// Navigasi Top

#navigasi-main {
    .navigasi-top {
        background-color: rgb(74, 159, 228);
        padding:10px;
        width:100%;
        height:70px;
        @include flex-group(flex, space-between);
        .navbar-brand {
            margin-left:80px;
            font-weight: bold;
            font-size: 25px;
        }
        
        ul {
            list-style:none;
            @include flex-group(flex, space-around, nowrap);
            font-size: 22px;
            margin-top:4px;
            .input-group {
                font-size: 17px;
                input {
                    padding:8px;
                    border-top-left-radius: 50px;
                    border-bottom-left-radius: 50px;
                    border:none;
                }
                input:focus {
                    outline:none;
                }
                button {
                    padding:8px 10px 8px 10px;
                    border-top-right-radius: 50px;
                    border-bottom-right-radius: 50px;
                    border:none;
                    background-color: white;
                }
                button:hover {
                    background-color: rgb(199, 192, 192);
                }
                button:focus {
                    outline:none;
                }
            }
            li {
                a {
                    color:black;
                }
            }
        }
    }
}

// Toggle

.toggle {
    position:absolute;
    top: 0;
    left: 0;
    @include box-size(60px, 60px);
    /* background-color: whitesmoke;  */
    cursor: pointer;
    display:none;
}
.toggle:before {
    content: '\f0c9';
    @include font-group(24px, fontAwesome,rgb(14, 13, 13));
    @include box-size(100%,100%);
    position: absolute;
    line-height: 60px;
    text-align: center;
}

.toggle.active:before {
    content: '\f00d';

}

@media (max-width: 1000px) {
    #content {
        .content .work {
            grid-template-columns: 1fr 1fr;
        }
    }
    
}

@media (max-width: 767px) {
    #sidebar {
        .navigation {
            left:-60px;
            
            ul li .home {
                margin-top:60px;
            }
        }
        .navigation.active {
            left:0px;
        }
    }
    .toggle {
        display:block;
        z-index: 65;
        position: fixed;
    }
    #content {
        .content {
            margin-top:80px;
            margin-left: 10px
        }
    }
    #navigasi-main {
        .navigasi-top {
            position:fixed;
            z-index: 65;
        }
    }
    
}

@media (max-width: 676px) {
    #navigasi-main {
        li.mr-4 {
            display:none;
        }
    }
    #content {
        .content .work {
            grid-template-columns: 1fr;
        }
    }
}

@media (max-width: 600px) {
    #content, .content {
        .list-class {
            ul.img-class {
                width:100%;
                @include grid-group(grid, repeat(auto-fit, minmax(100px, 1fr)));
            }
        }
    }
}

@media (max-width: 576px) {
    #navigasi-main {
        li.input-group {
            display:none;
        }
    }
}