* {
    padding:0;
    margin:0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#sign-up {
    background: linear-gradient(top,#53a7f5, rgb(255, 255, 255));
    .col-md-5 {
        position: relative;
        h1 {
            margin-top:50px;
        }
        h1, h2 {
            font-family: Arial, Helvetica, sans-serif;
            width:75%;
            padding:10px;
            margin:20px auto;
            position: absolute;
            opacity: 1;
            z-index: 1;
            font-size: 60px;
            font-weight:bold;
        }
        h2 {
            margin-top:300px;
        }
        img {
            opacity: .7;
        }
    }
}
.form-signup {
    h1 {
        margin-bottom: 20px;
        font-weight: bold;
    }
    margin-top:120px;
    ul {
        list-style:none;
        li {
            font-size:18px;
            font-weight:650;
            display:flex;
            justify-content: space-between;
        }
        label {
            width:20%;
        }
        input {
            font-size:16px;
            font-weight:400;
            width:70%;
            border:none;
            padding:9px;
            margin-bottom:15px;
            border-radius:6px;
            background-color: rgb(255, 255, 255);
        }
        input:focus {
            outline:none;
            box-shadow: 2px 2px 3px rgba(29, 204, 235,.7);
        }
        select {
            font-size:16px;
            border:none;
            padding:9px;
            border-radius: 3px;
            background-color: rgb(255, 255, 255)
        }
        button {
            background-color: rgb(95, 243, 50);
            padding:10px;
            border:none;
            border-radius:4px;
            font-weight: 500;
            margin-top:20px;
            a {
                text-decoration: none;
                color:black;
            }
        }
        button:hover {
            opacity: .7;
        }
    }
}

@media (max-width:1046px) {
    #sign-up {
        .col-md-5 {
            display: none;
        }
        .col-md-7 {
            margin:50px auto;
        }
        .form-signup {
            margin:0px;
        }
    }
}

@media (max-width:460px) {
    .form-signup {
        
        ul li {
            label, input, select {
                font-size:12px;
            }
            input, select {
                padding:none;
            }
        }
        
    }
} 